body {
    background-color: white;
}
header {
  font-size: 34px;
  font-family: 'Times New Roman', Times, serif;
}
p {
  margin-left: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
article {
  color: #6e6e6e;
}
nav > header {
  text-align: center;
  margin-top: 15px;
}
code {
  display: block;
  background-color: rgb(240, 240, 240);
  line-height: 2;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
}
.space {
  height: 15px;
}
#navbar {
    position: fixed;
    min-width: 290px;
    width: 300px;
    top: 0px;
    left: 0px;
    height: 100%;
    border-right: solid;
    border-color: black;
    border-width: 1px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
    height: 4%;
    text-align: center;
    padding-top: 15px;
    text-align: start;
  }
#navbar a {
    color: rgb(109, 109, 109);
    text-decoration: none;
    margin-left: 40px;
    font-size: 18px;
}
#main-doc {
    position: absolute;
    margin-left: 300px;
    padding: 20px;
    margin-bottom: 110px;
  }

@media only screen and (max-width: 600px) {
  #navbar ul {
    border: 1px solid;
    height: 200px;
  }

  #navbar a {
    color: rgb(109, 109, 109);
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
  height: 20%;
  text-align: center;
  padding-top: 15px;
  text-align: start;
}
  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 270px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}